.accountpagebody {
  height: 100%;
}
.accountbody {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  height: 60%;
}
.menubar {
  width: 10%;
  border-right: 3px rgb(214, 214, 214) solid;
}
.infobar {
  margin-left: 2%;
  width: 100%;
  display: flex;
}
.infobarWrapper {
  width: 60%;
}
.personalinfo {
  width: 50%;
}
.contact {
  width: 50%;
}
.info {
  text-align: end;
}
input {
  height: 3vh;

  border-radius: 5px;
  box-shadow: none;
  border: 1px rgb(189, 189, 189) solid;
}
input:focus {
  outline: none;
}
.updatebutton {
  width: 15%;
  height: 50%;
  background-color: blueviolet;
  text-align: center;
  border-radius: 5px;
  border: none;
  color: white;
  margin: 2%;
}
.updatebutton:hover {
  cursor: pointer;
}
.updatebutton:disabled {
  cursor: not-allowed;
  background-color: rgb(206, 190, 221);
}
.buttonGroup {
  padding-top: 5%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
}
